.character-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: transform var(--sprite-item-character-step-duration) linear;
    z-index: var(--sprite-item-character-zindex);

    .character-tile {
        display: block;
    }
}
