$layerControlWidth: 12vw;

.layer-controls-container {
  position: absolute;
  top: 10vh;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc($layerControlWidth + 1em);
  z-index: 1001;

  &.left {
    left: 0.5em;
  }
  &.right {
    right: 0.5em;
  }

  .layer-controls,
  .layer-details {
    width: $layerControlWidth;
    padding-left: 0.5em;
    padding-right: 0.5em;

    span {
      opacity: 0.5;
    }
  }

  .layer-controls {
    .settings {
      cursor: pointer;
      font-size: 150%;
    }

    .layer-select {
      background-color: var(--hope-colors-background);
      border: 1px dashed rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      min-height: 75px;
      padding: 0.5em;
      transition: transform 250ms ease;
      cursor: pointer;

      &.is-active {
        border-color: $linkColour;
      }

      &:hover {
        transform: translateX(-0.5em);
      }
    }
  }
}
